#main {
    background-image: url("images/pattern1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
#cleve {
    background-image: url("images/cleBack.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
#phoen {
    background-image: url("images/pheBack.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
#pit {
    background-image: url("images/pitBack.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: justify;
    text-decoration: none
}
div {
    font-size: 10px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: justify;
    text-decoration: none
}
#cleAlign {
    font-size: 30px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    text-shadow: 0 0 10px white;
}
#pitAlign {
    font-size: 30px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    position: absolute;
    left: 31%;
    text-shadow: 0 0 10px white;
}
#pheAlign {
    font-size: 30px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 90%;
    text-shadow: 0 0 10px white;
}
#fall {
    font-size: 13px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none;
}
#fall2 {
    font-size: 13px;
    color: white;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none;
}
#rust {
    font-size: 80px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none
}
#rustDiv2 {
    font-size: 80px;
    color: black;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none
}
#rust2 {
    font-size: 80px;
    color: white;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none
}
#rustDiv {
    font-size: 80px;
    color: white;
    font-family: "Courier New", monospace;
    font-weight: normal;
    text-align: right;
    text-decoration: none
}
#cle1{
    position: absolute;
    top: 1%;
    left: 1%;
}
#cle2{
    position: absolute;
    bottom: 4%;
    left: 33%;
}
#cle3{
    position: absolute;
    top: 11%;
    left: 60%;
}
#phe1{
    position: absolute;
    top: 2%;
    left: 1%;
}
#phe2{
    position: absolute;
    bottom: 10%;
    right: 5%;
}
#phe3{
    position: absolute;
    top: 16%;
    left: 40%;
}
#pit1{
    position: absolute;
    bottom: 25px;
    left: 20px;
}
#pit2{
    position: absolute;
    bottom: 100px;
    left: 1350px;
}
#pit3{
    position: absolute;
    bottom: 490px;
    left: 565px;
}